<h1><%=$Player_1.name%> - <%=$Player_1.hp%>HP : <%=$Player_2.name%> - <%=$Player_2.hp%>HP</h1>
<h1><%=$Player_2.name%> is dying</h1>

<img src = "https://thumbs.gfycat.com/GreatShadyCobra-size_restricted.gif">
